

<div class="container">
    <%= form_for :login, url: login_path do |f|%>
      <br><br>
      <div class="row">
        <div class="col-sm-4">
          <%=f.text_field :username, class: "form-control", placeholder: "Enter Username", required: :autofocus%><br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%=f.password_field :password, placeholder: "Password", id: "inputPassword", class: "form-control", placeholder: "Password", required: true%><br>
        </div>
      </div>
      <div class="row">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Remember password</label>
        <div class="col-sm-2">
          <%=f.submit "login", class: "btn btn-sm btn-primary btn-block text-uppercase"%>
        </div>
      </div>
    <%end%>
</div>