<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ticket Tool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%=link_to "New Ticket", tickets_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%=link_to "New Employee", employees_path, class: "nav-link"%>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">All Tickets</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">
            Total Tickets <%= Ticket.count%>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Open Tickets</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">
            Tickets <%= Ticket.where(status: 'open').count%>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>