<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">User Login</h5>
            <form id ="myform" class="form-signup">
              <div class="form-label-group">
                <label for="inputUserID">User ID</label>
                <input type="text" id="inputUserID" class="form-control" placeholder="User ID" required autofocus>
              </div>

              <div class="form-label-group">
                 <label h5 for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" onclick ="myFunction()">Login</button><br>
              <p align="right"><button class="btn btn-primary"><a href="/home/SignUp/" style="color:#eeffdd;"> Create New Account </button></a></p>
              <hr class="my-4">
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script>
function myFunction() {
  location.replace("/home/dashboard/")
}
</script>